@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
  --primary-color: #ffffff;
  --section-heading-color: #64d2ff; /* Cool Blue */
  --hero-background: radial-gradient(
    circle,
    rgba(47, 128, 237, 0.2),
    transparent
  );
  --blue-glow: #64d2ff;
  --hero-button-bg: #64d2ff;
  --hero-button-bg-hover: #3b82f6;
  --card-bg: linear-gradient(135deg, #1f2937, #0f172a);
  --card-hover-shadow: rgba(59, 130, 246, 0.3);
  --light-gray-text: #e2e8f0;
  --footer-bg: #0f172a;
  --footer-text: #94a3b8;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
